@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

html {
  background-color: #f9fafb;
}

body {
  color: #111827;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}